.container {
  max-width: 1240px;
  height: auto;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .container {
    height: 100%;
    padding: 0 16px;
  }
}
