@import './variables.scss';

@font-face {
  font-family: 'neurimboGothic';
  src: url('/assets/fonts/neurimbo-gothic-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: 'pretendard';
  src: url('/assets/fonts/pretendard-variables.woff2') format('woff2');
  display: swap;
}

:root {
  --surface: #151515;
  --surface-bright: #262626;
  --surface-dim: #313131;
  --surface-border: #343434;
  --surface-alpha80: #151515cc;

  --on-surface: #fff;
  --on-surface-variant: #ddd;
  --on-surface-variant2: #969696;

  --esports-red: #f15252;
  --workshop-blue: #516add;
  --workshop-blue-container: #7785cb;
}

@media (prefers-color-scheme: light) {
  :root {
    --surface: #fff;
    --surface-bright: #f1f1f1;
    --surface-dim: #e4e4e4;
    --surface-border: #ebebeb;
    --surface-alpha80: #ffffffcc;

    --on-surface: #000;
    --on-surface-variant: #333;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 100%;

  -webkit-tap-highlight-color: transparent;
}

html,
body {
  max-width: 100vw;
  min-height: auto;
  overflow-x: hidden;
  background-color: var(--surface);
  color: var(--on-surface);
  font-family: 'pretendard', sans-serif;
  font-size: 16px;

  @media (max-width: $breakpoint-tablet) {
    font-size: 14px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;

  line-height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

p {
  font-size: 1rem;
  line-height: 150%;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

li {
  list-style: none;
}
