.Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(100vh / 2 - 180px);
  text-align: center;

  h1,
  h2 {
    font-family: 'neurimboGothic';
  }

  p {
    font-weight: 400;
    margin-top: 40px;
    color: var(--on-surface-variant);
  }
}

.UnderlineBox {
  padding: 0 20px;
  box-shadow: inset 0 -16px 0 var(--esports-red);
  margin-bottom: 8px;
}
