@use '@/app/variables.scss' as *;

.Item {
  display: flex;
  max-width: 588px;
  gap: 12px;
  width: 100%;
}

.IMG {
  object-fit: cover;
  width: 25vw;
  height: 25vw;
  max-width: 305px;
  max-height: 305px;
}

.Summary {
  flex: 1;
}

.Category {
  font-weight: 600;
  color: var(--on-surface-variant2);
}
.Title {
  margin-top: 4px;
  font-weight: 700;
}

.Description {
  margin-top: 8px;
  font-weight: 500;
  color: var(--on-surface-variant2);
}

@media (max-width: $breakpoint-mobile) {
  .Item {
    max-width: none;
    flex-direction: column;
  }

  .IMG {
    max-width: none;
    max-height: none;
    width: 100%;
    height: calc(100vw - 32px);
  }
}
