@use '@/app/variables.scss' as *;

.Hero {
  display: flex;
  gap: 24px;
  justify-content: center;
  border-bottom: 1px solid var(--surface-border);
  padding-bottom: 40px;
}

.BigItem {
  width: 100%;
  flex: 1;
}

.Articles {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  flex: 1;
  height: fit-content;
}

@media (max-width: $breakpoint-mobile) {
  .Hero {
    flex-direction: column;
  }

  .Articles {
    border-top: 1px solid var(--surface-border);
    padding-top: 24px;
  }
}
