@use '@/app/variables.scss' as *;

.HeaderContainer {
  width: 100%;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--surface-border);
  display: flex;
  align-items: center;
}

.Logo {
  width: 152px;
  text-align: center;
  font-family: 'neurimboGothic';
  letter-spacing: -0.4px;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: 0.25s;
  padding: 0 20px;

  &:hover {
    background-color: var(--surface-dim);
    transition: 0.25s;
  }

  &:active {
    transform: scale(0.95);
    transition: 0.15s;
  }
}

@media (prefers-color-scheme: dark) {
  .LogoLight {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .LogoDark {
    display: none;
  }
}

.Menu {
  flex: 1;
}

.Right {
  width: 152px;
}

.MobileRight {
  display: none;
}

@media (max-width: $breakpoint-mobile) {
  .HeaderContainer {
    height: 60px;
    padding: 8px 0;
    justify-content: space-between;
  }

  .Menu {
    display: none;
  }

  .Logo {
    width: auto;
    height: 100%;
    padding: 0 4px;

    svg {
      transform: scale(0.9);
    }
  }

  .Right {
    display: none;
  }
  .MobileRight {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    padding: 0 12px;
    height: 100%;

    &:hover {
      background-color: var(--surface-dim);
      transition: 0.25s;
    }

    &:active {
      transform: scale(0.95);
      transition: 0.15s;
    }
  }
}
